<!-- app/dashboard/templates/change_password.html -->
{% extends "base.html" %}
{% import "includes/_formhelpers.html" as forms %}

{% block content %}
<h1>{{ title }}</h1>
<hr>
<div class="row">
    <div class="col-md-6">
        <form method="POST" action="{{ url_for('dashboard.change_password') }}" novalidate>
            {{ form.hidden_tag() }} {# CSRF #}
            {{ forms.render_field(form.current_password, class="form-control") }}
            {{ forms.render_field(form.new_password, class="form-control") }}
            {{ forms.render_field(form.new_password2, class="form-control") }}
            <div class="d-grid gap-2 d-md-flex justify-content-md-start mt-3">
                 {{ form.submit(class="btn btn-primary") }}
                 <a href="{{ url_for('dashboard.profile') }}" class="btn btn-secondary">Отмена</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}