<!-- app/auth/templates/login.html -->
{% extends "base.html" %}
{% import "includes/_formhelpers.html" as forms %}

{% block content %}
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">Вход в систему</div>
                <div class="card-body">
                    <form method="POST" action="{{ url_for('auth.login', next=request.args.get('next')) }}" novalidate>
                        {{ form.hidden_tag() }} {# CSRF токен #}

                        {{ forms.render_field(form.email, class="form-control", placeholder="Ваш email") }}
                        {{ forms.render_field(form.password, class="form-control", placeholder="Пароль") }}

                        <div class="mb-3 form-check">
                          {{ form.remember_me(class="form-check-input") }}
                          {{ form.remember_me.label(class="form-check-label") }}
                        </div>

                        <div class="d-grid gap-2">
                             {{ form.submit(class="btn btn-primary") }}
                        </div>
                    </form>
                </div>
                <div class="card-footer text-center">
                    Нет аккаунта? <a href="{{ url_for('auth.register') }}">Зарегистрироваться</a>
                    <br>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}