<!-- app/templates/base.html -->
<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if title %}
    <title>{{ title }} - Klopit</title>
    {% else %}
    <title>Klopit - Управление Проектами</title>
    {% endif %}
    <!-- Стили CSS будут добавлены здесь -->
</head>
<body>
    <h1>Klopit Base Template</h1>
    <hr>
    <!-- Основной контент страницы будет здесь -->
    <p>Это базовый шаблон.</p>

    <!-- Скрипты JS будут добавлены здесь -->
</body>
</html>