<!-- app/templates/index.html -->
{% extends "base.html" %}

{% block content %}
<div class="p-5 mb-4 bg-light rounded-3">
  <div class="container-fluid py-5">
    <h1 class="display-5 fw-bold">Добро пожаловать в Klopit!</h1>
    <p class="col-md-8 fs-4">Ваш новый инструмент для управления проектами и задачами.</p>
    {% if not current_user.is_authenticated %}
    <a href="{{ url_for('auth.register') }}" class="btn btn-primary btn-lg" type="button">Начать работу</a>
    <a href="{{ url_for('auth.login') }}" class="btn btn-outline-secondary btn-lg" type="button">Войти</a>
    {% else %}
     <a href="#" class="btn btn-success btn-lg" type="button">Перейти к проектам</a> {# Ссылка на проекты позже #}
    {% endif %}
  </div>
</div>
{% endblock %}